<main>
		<section id="cd-team" class="cd-section">
			<div class="cd-container">
				<h2>Our team</h2>
				<ul style = "list-style: none; text-decoration: none;">
					<li class = "mySlides">
						<a href="#0" data-type="member-1">
							<figure>
								<img src="{% static '/main/images/MishtyReal.jpg' %}" alt="Team member 1">
								<div class = "topright">Click for my bio!</div>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Mishty Dhekial <span>CEO/Founder</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>
					
					<li class = "mySlides">
						<a href="#0" data-type="member-2">
							<figure>
								<img src="{% static '/main/images/Amisha.JPG' %}" alt="Team member 1">
								<div class = "topright">Click for my bio!</div>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Amisha Kumar <span>CEO/Founder</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li class = "mySlides">
						<a href="#0" data-type="member-3">
							<figure>
								<img src="{% static '/main/images/Amisha.JPG' %}" alt="Team member 1">
								<div class = "topright">Click for my bio!</div>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Ashmita Kumar <span>CEO/Founder</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>
				</ul>
			</div> <!-- cd-container -->
			<button style = "display: inline-block; border-radius: 50%;  display: inline-block;width: 4em;height: 4em;border: 0.2em solid #333;border-radius: 50%;margin-right: 1.5em;" onclick="plusDivs(-1)">&#10094;</button>
			<button style = "display: inline-block; border-radius: 50%;  display: inline-block;width: 4em;height: 4em;border: 0.2em solid #333;border-radius: 50%;margin-right: 1.5em;" onclick="plusDivs(+1)">&#10095;</button>
		</section> <!-- cd-team -->

		<div class="cd-overlay"></div>
	</main>

	<div class="cd-member-bio member-1">
		<!--<div class="cd-member-bio-pict">
			<img src="img/member-bio-img-1.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet Mishty Dhekial</h1>
			<p>Mishty Dhekial is a rising junior attending Troy High School in California. Continuously involved in school, Mishty is part of LEO and girlUp and tutors children over the summer for various charities. She has a passion for coding and is currently working her way towards a Google IT certificate. She was an accomplished competitive figure skater for 7 years, but due to her recent accident she is currently taking a break, but hopes to resume soon. Mishty competed in the top tier of CyberPatriot for 2 years, specializing in Cisco security. With her two friends, she designed an app that helped track live outbreaks leading her and her team to win the "Best Use of AI" award at AI Hacks. When she isn't programming, Mishty enjoys reading a plethera of fiction books especially science fiction and thrillers and watching various cooking shows. </p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-2">
		<!--<div class="cd-member-bio-pict">
			<img src="img/member-bio-img-2.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet Amisha Kumar</h1>
			<p></p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-3">
		<!--<div class="cd-member-bio-pict">
			<img src="img/member-bio-img-3.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet Ashmita Kumar</h1>
			<p>Ashmita Kumar is a rising junior at Troy High School. She hopes to help girls enter the field of STEM, and as a result, is the founder and president of the Troy G-TEC club, teaching girls the skills needed in the fields of cybersecurity and coding. She is also an instructor for Troy's cybersecurity camps over the summer. Ashmita has competed in CyberPatriot for 2 years with a specialty in Linux security. She won an award at the AI Hacks hackathon for the "Best Use of AI" for designing an app that gives live updates to users when outbreaks are identified. Ashmita is an accomplished Python coder, and is currently working towards her CompTIA A+ certification.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->
	<a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->