<html>
  <head>
    <title>EpiTrack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL5QzisJSz82SqkfloD1nuia2mOoIgoys&callback=initMap&libraries=places&v=weekly"
      defer></script>
      <script>
      "use strict";

// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&libraries=places">
let map;
let service;
let infowindow;

function initMap() {
  const la = new google.maps.LatLng(34.0522, 118.2437);
  infowindow = new google.maps.InfoWindow();
  map = new google.maps.Map(document.getElementById("map"), {
    center: la,
    zoom: 12
  });
  const request = {
    query: "COVID-19 testing center",
    fields: ["name", "geometry"],
  };
  const request2= {
    query: "hospital",
    fields: ["name", "geometry"],
  }
  const request3= {
    query: "doctor",
    fields: ["name", "geometry"],
  }
  const request4= {
    query: "testing",
    fields: ["name", "geometry"],
  }
  service = new google.maps.places.PlacesService(map);
  service.findPlaceFromQuery(request, (results, status) => {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (let i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }

      map.setCenter(results[0].geometry.location);
    }
  });
  service.findPlaceFromQuery(request2, (results, status) => {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (let i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }

      map.setCenter(results[0].geometry.location);
    }
  });
  service.findPlaceFromQuery(request3, (results, status) => {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (let i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }

      map.setCenter(results[0].geometry.location);
    }
  });
   service.findPlaceFromQuery(request4, (results, status) => {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (let i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }

      map.setCenter(results[0].geometry.location);
    }
  });
  if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }


function createMarker(place) {
  const marker = new google.maps.Marker({
    map,
    position: place.geometry.location
  });
  google.maps.event.addListener(marker, "click", () => {
    infowindow.setContent(place.name);
    infowindow.open(map);
  });
}


    </script>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Poppins');
        #map {
            border-radius: 20px;
            height: 100%;
            margin-bottom: 0;
             
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
           padding: 20px;
           font-family: "Poppins";
          justify-content: :center;
            flex-direction: column; 
            background-color: #56baed;
        }
    </style>
  </head>
  <body>
    <a href="/home"><i class="fa fa-home fa-1x" aria-hidden="true" style = "margin-right:0.5em;"></i>Return Home</a>
    <h2> Nearest hopsitals / testing centers to you: </h2>
        <div id="map"></div>
  </body>
</html>
<!--Add two hospitals-->