
/* FONT FAMILY */

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
	background-color: #56baed;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
}

a {
	color: #92badd;
	display:inline-block;
	text-decoration: none;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	display:inline-block;
	margin: 6px 8px 10px 8px; 
	color: #cccccc;
}

/* MAIN STRUCTURE */

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

#formContent {
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
}

#formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	border-radius: 0 0 10px 10px;
}

/* CONTENT */

main {
	padding: 70px 20px 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	margin-top: 2.5em;
	padding: 1em 2em 0.1em 2em;
	margin-bottom: 1em;
}
			
.content h1 {
	margin-bottom: 0.5em;
	margin-top: 0.75em;
}

/* MODAL */

.modal {
	display: none; /* Hidden by default */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	animation-name: fadeIn;
	animation-duration: 0.4s
}

.modal-content {
	position: fixed;
	font-size: 0.8em;
	bottom: 0;
	background-color: #fefefe;
	width: 100%;
	animation-name: fadeInDown;
	animation-duration: 0.4s
}

/* CLOSE BUTTON */

.close {
	color: #000;
	float: right;
	padding-top: 0.7em;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
		  cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color:#a4e1f5;
	color: white;
}

.modal-body {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 2px 16px;
}

/* TABS */

h2.inactive {
	color: #cccccc;
}

h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
}

/* BUTTONS */

input[type=submit] {
	background-color: #56baed;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 20px 20px;
	transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
	background-color: #39ace7;
}

input[type=submit]:active {
	transform: scale(0.95);
}


input[type=username], input[type=password], input[type=text] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	border-radius: 5px 5px 5px 5px;
}

input[type=username]:focus, input[type=password]:focus, input[type=text]:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}

input[type=username]:placeholder, input[type=password]:placeholder, input[type=text]:placeholder {
	color: #cccccc;
}

/* FADING ANIMATIONS */

.fadeInDown {
	animation-name: fadeInDown;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

.fadeIn.second {
	animation-delay: 0.6s;
}

.fadeIn.third {
	animation-delay: 0.8s;
}

.fadeIn.fourth {
	animation-delay: 1s;
}

.underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #56baed;
	content: "";
	transition: width 0.2s;
}

.underlineHover:hover {
	color: #0d0d0d;
}

.underlineHover:hover:after{
	width: 100%;
}

/* OTHERS */

*:focus {
	outline: none;
} 

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

#messages{
	background-color: red;
	color: #fff;
	padding: 1em;
	margin-top: 0;
	margin-bottom:0;
}